<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Mini Projet </title>
</head>
<body>
  <div id="app">
    <div class="Filter">
      <h4>Filtrer sur le nom :</h4>
      <input class="FilterNom" type="text" v-model="nom" />
    </div>
    <div class="options">
      <h4>Options :</h4>
      <label><input type="checkbox" v-model="filtrerHomme"> Homme</label>
      <label><input type="checkbox" v-model="filtrerFemme"> Femme</label>

      <label >Téléphone</label>
      <input type="checkbox" v-model="afficherTel" />

      <label >Photo :</label>
      <select v-model="photo">
        <option value="medium">Moyen</option>
        <option value="thumbnail">Petit</option>
        <option value="large">Grand</option>
      </select>

      <label >Mise en forme</label>
      <input type="checkbox" v-model="MiseForme" />
    </div>
    <div 
      v-for="personne in personnesFiltres" 
      :key="personne.email" 
      class="personne-card"
      :class="{ misEnForme: MiseForme }"
    >
      <div>
        <strong>Nom complet :</strong> {{ personne.name.title }} {{ personne.name.first }} {{ personne.name.last }}<br>
        <strong>Genre :</strong> {{ personne.gender }}<br>
        <strong>Date de naissance :</strong> {{ personne.dob.date }} ({{ personne.dob.age }} ans)<br>
        <strong>Cellulaire :</strong> {{ personne.cell }}<br>
        <div v-if="afficherTel">
          <strong>Téléphone :</strong> {{ personne.phone }}<br>
        </div>

        <strong>Pays :</strong> {{ personne.location.country }}<br>
        <strong>Adresse :</strong>
        {{ personne.location.street.number }} {{ personne.location.street.name }},
        {{ personne.location.city }}, {{ personne.location.state }},
        {{ personne.location.postcode }}<br>
        <strong>Image :</strong><br>
        <img :src="personne.picture[photo]" />
      </div>

      <div>
        <h3>
          Afficher / Cacher les informations de contact :
          <input type="checkbox" @click="AfficherCacher">
        </h3>
        <p v-show="showinfo">
          <strong>Email :</strong> {{ personne.email }}
        </p>
      </div>
      <hr>
    </div>
  </div>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          nom: "",
          filtrerHomme: true,
          filtrerFemme: true,
          afficherTel: true, 
          photo: "medium",
          MiseForme: false,
          showinfo: false,
          personnes: [
            {
              gender: "female",
              name: { title: "Mrs", first: "Elizabeth", last: "Ambrose" },
              location: {
                street: { number: 4954, name: "Tecumseh Rd" },
                city: "Hudson",
                state: "Alberta",
                country: "Canada",
                postcode: "N7H 5G1"
              },
              email: "elizabeth.ambrose@example.com",
              dob: { date: "1995-11-20T00:31:55.940Z", age: 26 },
              phone: "366-033-8063",
              cell: "205-901-7452",
              picture: {
                large: "https://randomuser.me/api/portraits/women/49.jpg",
                medium: "https://randomuser.me/api/portraits/med/women/49.jpg",
                thumbnail: "https://randomuser.me/api/portraits/thumb/women/49.jpg"
              }
            },
            {
              gender: "male",
              name: { title: "Mr", first: "Batista", last: "Silveira" },
              location: {
                street: { number: 1153, name: "Rua Das Flores" },
                city: "Eunápolis",
                state: "Pará",
                country: "Brazil",
                postcode: 78657
              },
              email: "batista.silveira@example.com",
              dob: { date: "1978-03-16T14:00:38.384Z", age: 43 },
              phone: "(53) 5553-2892",
              cell: "(04) 3893-4079",
              picture: {
                large: "https://randomuser.me/api/portraits/men/50.jpg",
                medium: "https://randomuser.me/api/portraits/med/men/50.jpg",
                thumbnail: "https://randomuser.me/api/portraits/thumb/men/50.jpg"
              }
            },
            {
              gender: "male",
              name: { title: "Mr", first: "Blaise", last: "Adam" },
              location: {
                street: { number: 3056, name: "Rue de la Baleine" },
                city: "Courrendlin",
                state: "Valais",
                country: "Switzerland",
                postcode: 9476
              },
              email: "blaise.adam@example.com",
              dob: { date: "1954-07-03T23:24:58.883Z", age: 67 },
              phone: "079 493 00 77",
              cell: "079 283 03 14",
              picture: {
                large: "https://randomuser.me/api/portraits/men/29.jpg",
                medium: "https://randomuser.me/api/portraits/med/men/29.jpg",
                thumbnail: "https://randomuser.me/api/portraits/thumb/men/29.jpg"
              }
            }
          ]
        };
      },
      computed: {
        personnesFiltres() {
          let resultat = this.personnes.filter(p => {
            if (p.gender === "male" && !this.filtrerHomme) return false;
            if (p.gender === "female" && !this.filtrerFemme) return false;
            return true;
          });
          if (this.nom.trim() !== "") {
            resultat = resultat.filter(p =>
              (p.name.first + " " + p.name.last)
                .toLowerCase()
                .includes(this.nom.toLowerCase())
            );
          }

          return resultat;
        }
      },
      methods: {
        AfficherCacher() {
          this.showinfo = !this.showinfo;
        }
      }
    });

    app.mount("#app");
  </script>

  <style>
    h3 {
      color: darkblue;
      text-decoration: underline;
    }
    .Filter, .options {
      border: 1px solid black;
      padding: 8px;
      margin-bottom: 15px;
    }
    label{
      margin-left:20px;
    }
    .FilterNom{
      width: 400px;
  height:20px}
    .personne-card {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin-bottom: 10px;
      background-color: #f9f9f9;
    }
    .misEnForme {
      background-color: #bddfff;
      font-family: Georgia;
      font-size: 1.1rem;
    }
    img {
      border-radius: 50%;
      margin-top: 5px;
    }
  </style>
</body>
</html>
